; vim: set fileencoding=utf-8 :
; Thu 18 Aug 18:07:54 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.putvein
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
