; vim: set fileencoding=utf-8 :
; Thu Aug 18 20:09:07 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.biosecure
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
