; vim: set fileencoding=utf-8 :
; Tue 16 Aug 15:00:20 CEST 2016

[buildout]
parts = scripts
eggs =  bob.pad.voice
extensions = bob.buildout
develop = .

verbose = true
newest = false

[scripts]
recipe = bob.buildout:scripts
