; vim: set fileencoding=utf-8 :
; Tue  8 Jan 12:38:20 CET 2019

[buildout]
parts = scripts
develop = .
eggs = bob.db.casiasurf
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
