; vim: set fileencoding=utf-8 :
; Tue 16 Aug 17:30:19 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.ip.qualitymeasure
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
