; vim: set fileencoding=utf-8 :
; Thu 22 Dec 09:53:49 CET 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.fargo
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
