; vim: set fileencoding=utf-8 :
; Mon 15 Aug 2016 18:33:46 CEST

[buildout]
parts = scripts
develop = .
eggs = bob.ip.optflow.hornschunck
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts