; vim: set fileencoding=utf-8 :
; Tue 16 Aug 12:57:10 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.avspoof
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
