; vim: set fileencoding=utf-8 :
; Pavel Korshunov <pavel.korshunov@idiap.ch>
; Thu Oct  15 12:07:22 CEST 2015

[buildout]
parts = scripts
eggs = bob.db.avspoof
extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.db.base
          .

; options for bob.buildout extension
debug = true
verbose = true
newest = false

[sources]
bob.db.base = git git@gitlab.idiap.ch:bob/bob.db.base.git

[scripts]
recipe = bob.buildout:scripts
dependent-scripts=true
