; vim: set fileencoding=utf-8 :
; Wed 17 Aug 09:03:52 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.lfw
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true