.mito-toolbar-container {
    width: 100%;
  
    background-color: #ebebeb;
    padding-left: 10px;
  
    /* We make the toolbar a flexbox, for the toolbar icons/actions */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
    /* border-box to set the border inside the div, so it doesn't get chopped */
    box-sizing: border-box; 
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Older Webkit browsers */
  
    /* Border the bottom */
    border-bottom: 1px solid #999696;
  }
  
  .mito-toolbar-item {
    /*keep items evenly spaced */
    padding-right: 5px;

    margin-top: 5px;
    margin-bottom: 5px;

    /* make input blend in with formula bar */
    background-color: #ebebeb;
    border-radius: 0;
    border-style: none;
    outline: none;
  }

  .cell-indicator {
    border: 2px solid #343434;
    width: 80px;

    /* align the text in the center*/
    vertical-align: center;
    text-align: center;

    overflow-x: scroll;
  }

  .selected-cell {
    /*set padding to center text, but inherit right padding from mito-toolbar-item */
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    
    color: #343434;
    font-style: bold;
    font-size: 16px;
  }