; vim: set fileencoding=utf-8 :
; Sat 13 Aug 2016 00:48:05 CEST

[buildout]
parts = scripts
develop = .
eggs = bob.db.base
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts