; vim: set fileencoding=utf-8 :
; Fri 02 Dec 2016 11:42:23 CET

[buildout]
parts = scripts
develop = .
eggs = bob.db.fv3d
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
