; vim: set fileencoding=utf-8 :
; Mon  5 Sep 11:38:11 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.ip.skincolorfilter
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
