; vim: set fileencoding=utf-8 :
; Sat Aug 20 07:33:55 CEST 2016

[buildout]
parts = scripts
eggs = bob.bio.htface
       bob.learn.tensorflow
       bob.bio.face_ongoing
       bob.bio.face
       bob.db.fargo
       bob.rankone
       bob.bio.rankone
       bob.db.cuhk_cufsf
       bob.db.ldhf
       bob.db.eprip
       bob.bio.base
       

extensions = bob.buildout
             mr.developer
auto-checkout = *

develop = src/bob.learn.tensorflow
          src/bob.bio.face_ongoing
          src/bob.db.fargo
          src/bob.bio.face
          src/bob.rankone
          src/bob.bio.rankone
          src/bob.db.cuhk_cufsf
          src/bob.db.ldhf
          src/bob.db.eprip
          src/bob.bio.base
          .

newest = false
verbose = true


[sources]
bob.learn.tensorflow = git git@gitlab.idiap.ch:bob/bob.learn.tensorflow
bob.bio.face_ongoing = git git@gitlab.idiap.ch:bob/bob.bio.face_ongoing
bob.db.fargo = git git@gitlab.idiap.ch:bob/bob.db.fargo
bob.bio.face = git git@gitlab.idiap.ch:bob/bob.bio.face
bob.bio.base = git git@gitlab.idiap.ch:bob/bob.bio.base
bob.rankone = git git@gitlab.idiap.ch:bob/bob.rankone.git
bob.bio.rankone = git git@gitlab.idiap.ch:bob/bob.bio.rankone.git
bob.db.cuhk_cufsf = git git@gitlab.idiap.ch:bob/bob.db.cuhk_cufsf
bob.db.ldhf = git git@gitlab.idiap.ch:bob/bob.db.ldhf
bob.db.eprip = git git@gitlab.idiap.ch:bob/bob.db.eprip

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
