; vim: set fileencoding=utf-8 :
; Sun Oct 16 13:26:46 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.io.image
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true