; vim: set fileencoding=utf-8 :
; Sun Oct 16 13:26:46 CEST 2016

[buildout]
extends = buildout.cfg
develop = src/bob.extension
          src/bob.blitz
          src/bob.core
          src/bob.io.base
          .

extensions += mr.developer
auto-checkout = *
debug = true

[sources]
bob.extension = git https://gitlab.idiap.ch/bob/bob.extension
bob.blitz = git https://gitlab.idiap.ch/bob/bob.blitz
bob.core = git https://gitlab.idiap.ch/bob/bob.core
bob.io.base = git https://gitlab.idiap.ch/bob/bob.io.base
