; vim: set fileencoding=utf-8 :
; Sun 14 Aug 2016 18:02:03 CEST

[buildout]
parts = scripts
develop = .
eggs = bob.io.matlab
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts