; vim: set fileencoding=utf-8 :
; Tue 16 Aug 17:34:25 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.verafinger
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true