; vim: set fileencoding=utf-8 :
; Thu 11 Aug 15:12:05 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.io.base
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts