; vim: set fileencoding=utf-8 :
; Mon 27 Nov 14:33:47 CET 2017

[buildout]
parts = scripts
develop = .
eggs = bob.learn.pytorch
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true