; vim: set fileencoding=utf-8 :

[buildout]
parts = scripts

eggs = bob.learn.pytorch
       bob.db.fargo
       bob.db.casia_webface
       gridtk

extensions = bob.buildout
             mr.developer

auto-checkout = *

develop = . 
          bob.db.fargo
          /remote/idiap.svm/home.active/heusch/user/work/dev/gitlab/bob.db.fargo
          bob.db.casia_webface 
          /remote/idiap.svm/home.active/heusch/user/work/dev/gitlab/bob.db.casia_webface

; options for bob.buildout
debug = false
verbose = true
newest = false

[sources]
bob.db.fargo = fs bob.db.fargo full-path=/remote/idiap.svm/home.active/heusch/user/work/dev/gitlab/bob.db.fargo
bob.db.casia_webface = fs bob.db.casia_webface full-path=/remote/idiap.svm/home.active/heusch/user/work/dev/gitlab/bob.db.casia_webface

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
