; vim: set fileencoding=utf-8 :
; Sun Aug 21 17:10:37 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.scface
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
