; vim: set fileencoding=utf-8 :
; Fri 19 Aug 2016 13:22:13 CEST

[buildout]
parts = scripts
eggs = bob.bio.vein
       bob.db.verafinger
       bob.db.utfvp
       bob.db.putvein
       bob.db.fv3d
       gridtk

extensions = bob.buildout
develop = .

newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
