; vim: set fileencoding=utf-8 :
; Thu Oct  9 16:51:06 CEST 2014

[buildout]
parts = scripts
eggs = bob.bio.vein
       bob.db.verafinger
       bob.db.utfvp
       bob.db.putvein
       bob.db.fv3d
       gridtk

extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.extension
          src/bob.blitz
          src/bob.core
          src/bob.math
          src/bob.io.base
          src/bob.io.image
          src/bob.io.matlab
          src/bob.measure
          src/bob.sp
          src/bob.ip.base
          src/bob.ip.color
          src/bob.db.base
          src/bob.db.verafinger
          src/bob.db.utfvp
          src/bob.db.putvein
          src/bob.db.fv3d
          src/bob.learn.activation
          src/bob.learn.linear
          src/bob.learn.mlp
          src/bob.learn.em
          src/bob.bio.base
          .

; options for bob.buildout
debug = false
verbose = true
newest = false

[sources]
bob.extension = git git@gitlab.idiap.ch:bob/bob.extension
bob.blitz = git git@gitlab.idiap.ch:bob/bob.blitz
bob.core = git git@gitlab.idiap.ch:bob/bob.core
bob.math = git git@gitlab.idiap.ch:bob/bob.math
bob.measure = git git@gitlab.idiap.ch:bob/bob.measure
bob.io.base = git git@gitlab.idiap.ch:bob/bob.io.base
bob.io.image = git git@gitlab.idiap.ch:bob/bob.io.image
bob.io.matlab = git git@gitlab.idiap.ch:bob/bob.io.matlab
bob.sp = git git@gitlab.idiap.ch:bob/bob.sp
bob.ip.base = git git@gitlab.idiap.ch:bob/bob.ip.base
bob.ip.color = git git@gitlab.idiap.ch:bob/bob.ip.color
bob.db.base = git git@gitlab.idiap.ch:bob/bob.db.base
bob.db.verafinger = git git@gitlab.idiap.ch:bob/bob.db.verafinger
bob.db.utfvp = git git@gitlab.idiap.ch:bob/bob.db.utfvp
bob.db.putvein = git git@gitlab.idiap.ch:bob/bob.db.putvein
bob.db.fv3d = git git@gitlab.idiap.ch:bob/bob.db.fv3d
bob.learn.activation = git git@gitlab.idiap.ch:bob/bob.learn.activation
bob.learn.linear = git git@gitlab.idiap.ch:bob/bob.learn.linear
bob.learn.mlp = git git@gitlab.idiap.ch:bob/bob.learn.mlp
bob.learn.em = git git@gitlab.idiap.ch:bob/bob.learn.em
bob.bio.base = git git@gitlab.idiap.ch:bob/bob.bio.base


[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
