; vim: set fileencoding=utf-8 :
; Thu 18 Aug 15:25:19 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.youtube
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true