; vim: set fileencoding=utf-8 :
; Sat Aug 20 07:33:55 CEST 2016

[buildout]
parts = scripts
eggs = bob.bio.face_ongoing
       bob.bio.base
       bob.bio.face
       bob.ip.tensorflow_extractor
       bob.db.ijbc
       bob.learn.tensorflow
       bob.ip.pytorch_extractor
       bob.learn.pytorch

extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.bio.base
          src/bob.bio.face
          src/bob.ip.tensorflow_extractor
          src/bob.db.ijbc
          src/bob.learn.tensorflow
          src/bob.ip.pytorch_extractor
          src/bob.learn.pytorch
          .

newest = false
verbose = true

[sources]
bob.bio.face = git git@gitlab.idiap.ch:bob/bob.bio.face
bob.bio.base = git git@gitlab.idiap.ch:bob/bob.bio.base
bob.ip.tensorflow_extractor = git git@gitlab.idiap.ch:bob/bob.ip.tensorflow_extractor
bob.db.ijbc = git git@gitlab.idiap.ch:bob/bob.db.ijbc
bob.learn.tensorflow = git git@gitlab.idiap.ch:bob/bob.learn.tensorflow
bob.ip.pytorch_extractor = git git@gitlab.idiap.ch:bob/bob.ip.pytorch_extractor
bob.learn.pytorch = git git@gitlab.idiap.ch:bob/bob.learn.pytorch

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true

