; vim: set fileencoding=utf-8 :
; Manuel Guenther <tiago.pereira@idiap.ch>
; Thu Oct  9 16:51:06 CEST 2014

[buildout]
parts = scripts
develop = .
eggs = bob.ip.tensorflow_extractor

extensions = bob.buildout
auto-checkout = *

; options for bob.buildout
debug = false
verbose = true
newest = false

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true
