; vim: set fileencoding=utf-8 :
; Fri 26 Aug 16:08:40 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.bio.video
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true